<fieldset id="ambient-color" class="color">
</fieldset>

<fieldset id='loop-control'>
  <label>Main Loops</label>

  <div style='text-align: center;'>
    <input type='button' class='stop-rendering' id='toggle-rendering'
      value='Pause Rendering' />
    <input type='button' class='stop-updating' id='toggle-updating'
      value='Pause Updating' />
  </div>

  <div class="column">
    <input type='button' class='render-once' id='draw-frame'
      value="Draw Frame" disabled />
  </div>

  <div class="column">
    <input type='text' id='tick-seconds' class='update-seconds'
      value='0.01' disabled />
    <input type='button' class='update-once' id='tick'
      value="Tick" disabled />
  </div>
</fieldset>
