<fieldset id="ambient-color" class="color">
</fieldset>

<div id='loop-control'>
  <span class="section header">Main Loops</span>

  <div style='text-align: center;'>
    <input type='button' class='stop-rendering' id='toggle-rendering'
      value='Pause Rendering' />
    <input type='button' class='stop-updating' id='toggle-updating'
      value='Pause Updating' />
  </div>
</div>
