<html>
  <head>
    <title><%=human_name%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/<%=file_name%>.css" />
    <script type="text/javascript" src="/javascripts/jax.js"></script>
    <script type="text/javascript" src="/javascripts/<%=file_name%>.js"></script>
    <script type="text/javascript">
      window.addEventListener('load', function() {
        // set the jax canvas to a ratio of actual browser size, so
        // that aspect ratio is not lost when we scale to 100%
        var width = window.innerWidth, height = window.innerHeight;
        var ratio = width / height;
        document.getElementById('jax-canvas').width = parseInt(500 * ratio);

        window.context = new Jax.Context('jax-canvas');
      }, false);
    </script>
  </head>
  <body>
    <div id="nav">
      WSAD - move camera |
      Move mouse - rotate camera |
      a <a href="http://jaxgl.com">Jax project</a> |
      <a href="http://sinisterchipmunk.github.com/">See other demos</a>
    </div>
    <canvas id="jax-canvas" width='500' height='500' style="width:100%;height:100%;"></canvas>
  </body>
</html>
