/**
 * class <%=class_name%> < Jax.Model
 * 
 */
var <%=class_name%> = (function() {
  return Jax.Model.create({
    after_initialize: function() {
      /* model-specific initialization */
    },
  
    /* other model-specific methods */
    sayHello: function() {
      alert("Hi!");
    }
  });
})();
