var <%=class_name%> = (function() {
  after_initialize: function() {
    /* model-specific initialization */
  },

  /* other model-specific methods */
  sayHello: function() {
    alert("Hi!");
  }
})();
