source 'https://rubygems.org'

gem 'jax', '<%= Jax::Version::STRING %>'

# Jax will generate files using CoffeeScript by default.
# If you want to work in pure JavaScript, simply remove
# this line:
gem 'coffee-rails'

# Used to minify the JavaScript files when you run
# `rake assets:precompile`. Remove this gem and
# change the environments/production.rb file
# if you don't want the JavaScripts minified.
gem 'uglifier'

# Sass makes CSS better. See http://sass-lang.com/
gem 'sass-rails'
