#tools {
  .light {
    overflow: hidden;

    .booleans {
      display: inline-block;
      font-size: 10px;
      text-align: left;

      fieldset {
        display: inline;
        margin: 0;
        padding: 0;

        label {
          width: auto;
        }
      }
    }

    .section.header {
      color: #ccc;
      font-weight: 800;
      text-transform: none;
    }

    fieldset {
      margin-left: 12px;

      input.attenuation-dec {
        width: 80px;
      }
    }

    fieldset.attenuation {
      label {
        margin-top: 4px;
      }

      div {
        vertical-align: top;
      }
    }
  }
}
