<div id="topNav">
  <div class="wrapper">
    <strong>More at <a href="http://jaxgl.com">jaxgl.com:</a> </strong>
    <a href="http://blog.jaxgl.com/what-is-jax">Overview</a> |
    <%if @link_to_guides%>
      <a href="http://guides.jaxgl.com">Guides</a> |
    <%end%>
    <!-- <a href="http://jaxgl.com/download">Download</a> | -->
    <!-- <a href="http://jaxgl.com/deploy">Deploy</a> | -->
    <a href="http://github.com/sinisterchipmunk/jax">Code</a> |
    <%if !@hide_links_to_api_docs%>
      <a href="http://guides.jaxgl.com/api/js/index.html">Documentation</a> |
    <%end%>
    <a href="http://blog.jaxgl.com/forum">Forums</a> |
    <a href="http://blog.jaxgl.com/">Blog</a>
  </div>
</div>
