features/rerun.txt
*.gem
.bundle
**/*/pkg/*
.idea
dist
doc/generated
doc/api
doc/assets/jax.js
.hg
tmp/
guides/output
/pkg/
_lib
_spec
.rbx
*old_spec*
*ssao*
.jhw-cache
log
.sass-cache
gemfiles/**/*.lock
