<% content_for :head do %>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag 'jax/shader_editor' %>
  <%= stylesheet_link_tag "jax/shader_editor"%>
<% end %>

<% content_for :below_nav do %>
  <select id="mesh">
    <option value="Jax.Mesh.Cube">Jax.Mesh.Cube</option>
    <option value="Jax.Mesh.Icosahedron">Jax.Mesh.Icosahedron</option>
    <option value="Jax.Mesh.Plane">Jax.Mesh.Plane</option>
    <option value="Jax.Mesh.Quad">Jax.Mesh.Quad</option>
    <option value="Jax.Mesh.Sphere" selected="selected">Jax.Mesh.Sphere</option>
    <option value="Jax.Mesh.Teapot">Jax.Mesh.Teapot</option>
    <option value="Jax.Mesh.Torus">Jax.Mesh.Torus</option>
  </select>
<% end %>

<div id="material-list" class="list">
  <!-- holds a list of materials, to be clicked on for editing/previewing -->
</div>

<div id="preview-div">
  <canvas id="preview" width="640" height="470"></canvas>
</div>
