<a href='#' class='start header'>
  <span class="test icon">&nbsp;</span>
  Run Specs
</a>
<div class='status'>
  <a href='#' class='led show-results'>&nbsp;</a>
</div>
<a href='#' class='stop' style='display:none;'>
  <img src='/assets/jax/dev/stop.png' />
</a>
