/*
 *= require 'dev/jquery-ui'
 */

body {
  margin: 0;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  background-color: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ef8c08;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;

  .icon {
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-image: url('/assets/dev/ui-icons_ef8c08_256x240.png');
    background-repeat: no-repeat;
    background-position: -16px -192px;
    display: inline-block;

    &.wrench {
      background-position: -176px -112px;
    }

    &.minify {
      background-position: -16px -192px;
    }
  }

  &:hover {
    text-decoration: none;
    color: #ffd27a;

    .icon {
      background-image: url('/assets/dev/ui-icons_ffd27a_256x240.png');
    }
  }
}

.header {
  display: inline-block;
  padding: 4px;
  padding-left: 10px;
  padding-right: 15px;
  line-height: 16px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #333;
  opacity: 1;
  color: #ef8c08;
}

div#tools {
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  z-index: 10;
  right: 0;
  display: inline-block;
  border-left: 1px solid #ef8c08;
  border-bottom: 1px solid #ef8c08;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  background-color: #333;
  font-size: 12px;
}

ul#controller-list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  z-index: 10;
  display: inline-block;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  overflow: hidden;
  border-right: 1px solid #ef8c08;
  border-bottom: 1px solid #ef8c08;

  li:nth-child(odd) {
    background-color: #333;
  }

  li:nth-child(even) {
    background-color: #393939;
  }

  li:last-child {
    border-bottom-right-radius: 8px;
  }

  li {
    a.minify {
      font-weight: 400;

      .icon {
        margin-right: 0.5em;
      }
    }

    &.active a {
      color: #ffd27a;
    }
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
