/* uses monospace and pre so that shader error traces are more readable */
.resultMessage.fail {
  font-family: monospace;
  white-space: pre-line;
  padding-top: 1em;
}

.jasmine_reporter {
  margin-top: 1em;
}

.jasmine_reporter .banner {
  border: 1px solid #bbb;
}

html, body { height: 100%; overflow:auto; }

#content { height: 80%; }

iframe {
  width: 100%;
  height: 100%;
}
