#nav {
  display: block;
  background-color: #ccc;
  border: 1px solid #999;
  height: 1em;
  padding: 0;
  padding-left: 1in;
  padding-right: 1in;
}

#nav ul {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

#nav li {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  
  margin-right: 0px;
  margin-bottom: 0;
  display: inline;
  font-size: 11pt;
  
  border: 1px solid #999;
  background-color: #ddd;
  color: #fff;
}

#nav li:hover {
  background-color: #eee;
}

#nav li.selected {
  background-color: #eef;
  color: #000;
}
