div.list {
  float: left;
  height: 470px;
  border-left: 1px solid #000;
  overflow-y: scroll;
  min-width: 2in;
  font-size: 10pt;
}

div.list div {
  padding: 5px;
  padding-right: 2em;
  background-color: #eee;
  margin-bottom: 2px;
}

div.list div:nth-child(even) {
  background-color: #ccc;
}

canvas {
  width: 640px;
  height: 470px;
  border-right: 1px inset #000;
}

div.help {
  float: left;
  text-align: left;
  width: 150px;
}

div#how-to-customize {
  text-align: left;
  display: none;
  background-color: #fff;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  width: 800px;
  border: 1px solid #aaa;
  font-size: 11pt;
}

#below-nav {
  margin-left: 2.5in;
}
