/*= require "jax/runtime" */
/*= require "jax/nav" */

body {
  margin: 0;
  background-color: #eee;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  color: #00f;
  text-decoration: none;
}

a:active {
  color: #00f;
  text-decoration: none;
}

a:visited {
  color: #00f;
  text-decoration: none;
}

div#jax-banner {
  margin-top: 1em;
  margin-left: 1in;
  margin-bottom: 1em;
}

div#jax-banner span.title {
  color: red;
  font-size: 22pt;
  margin-left: 0.5em;
}

div#jax-banner span.version {
  font-size: 8pt;
}

div.code {
  white-space: pre;
  font-family: monospace;
}

div.spacer {
  clear: both;
}

div#content {
  margin-left: 1in;
  margin-right: 1in;
}

#below-nav-row {
  padding-top: 1em;
  background-color: #fff;
  padding-bottom: 0.75em;
  margin-bottom: 0.25em;
  border-bottom: 1px dashed #999;
}

#below-nav {
  padding-left: 0.25in;
  font-size: 11pt;
}

#below-nav #drop-arrow {
  border-left: 1px dashed #000;
  border-bottom: 1px dashed #000;
  width: 1em;
  height: 0.6em;
  margin-right: 0.5em;
  display: block;
  float: left;
}

