<div style='white-space: nowrap;'>
  <a class="header" href='#'>
    <span class="icon collapse-small">
      &nbsp;
    </span>
    <%= klass %> <%= id %>
  </a>

  <div class='booleans'>
    <fieldset>
      <input type='checkbox' id='enabled' />
      <label for='enabled'>enabled</label>
    </fieldset>
    <fieldset>
      <input type='checkbox' id='shadows' />
      <label for='shadows'>shadows</label>
    </fieldset>
  </div>
</div>

<div id='colors'>
  <span class="section header">Color</span>
</div>

<div id='attenuation'>
  <span class="section header">Attenuation</span>
</div>

<div id='spot-angles'>
  <span class="section header">Spotlight Cone Angles</span>
</div>
