<div>
  <a class="header" href='#'>
    <span class="icon collapse-small">
      &nbsp;
    </span>
    <%= klass %>
  </a>
</div>

<div id='colors'>
  <span class="section header">Color</span>
</div>

<div id='attenuation'>
  <span class="section header">Attenuation</span>
</div>
