ul#controller-list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  z-index: 10;
  display: inline-block;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  overflow: hidden;
  border-right: 1px solid #ef8c08;
  border-bottom: 1px solid #ef8c08;

  li:nth-child(odd) {
    background-color: #333;
  }

  li:nth-child(even) {
    background-color: #393939;
  }

  li:last-child {
    border-bottom-right-radius: 8px;
  }

  li:not(.header) {
    padding: 4px;
    padding-left: 30px;
    padding-right: 15px;

    a.minify {
      white-space: nowrap;
      font-weight: 400;

      .icon {
        margin-right: 0.5em;
      }
    }

    &.active a {
      color: #ffd27a;
    }
  }
}
