<fieldset class="attenuation">
  <label><%= label %></label>
  <div style='display: inline-block;'>
    <div>
      <input class="attenuation-dec" type="text" />
    </div>
    <div id="slider"></div>
  </div>
</fieldset>
