<div class='basic'>
  <a class="header" href='#'>
    <span class="icon collapse-small">
      &nbsp;
    </span>
    <%= klass %> <%= id %>
  </a>

  <div class='booleans'>
    <div>
      <fieldset>
        <input type='checkbox' id='enabled' />
        <label for='enabled'>enabled</label>
      </fieldset>
    </div>
    <div>
      <fieldset>
        <input type='checkbox' id='shadows' />
        <label for='shadows'>shadows</label>
      </fieldset>
    </div>
  </div>
</div>

<div id='colors'>
  <span class="section header">Color</span>
</div>

<div id='attenuation'>
  <span class="section header">Attenuation</span>
</div>
