<div>
  <label class="spot-header" id='spot-inner-header' for="spot-inner-angle">
    inner
  </label>
  <label class="spot-header" id='spot-outer-header' for="spot-outer-angle">
    outer
  </label>
</div>

<div>
  <input type='text' class="spot-angle" id='spot-inner-angle' />
  <input type='text' class="spot-angle" id='spot-outer-angle' />
</div>

<div id="slider"></div>

<div>
  <input type='checkbox' id='degrees'>
  <label for='degrees'>
    degrees
  </label>
</div>
