describe("<%=class_name%>Controller", function() {
  var controller;

  beforeEach(function() {
    controller = new <%=class_name%>Controller();
  });

  it("does something", function() {
    expect(1).toEqual(1);
  });
});
