<!DOCTYPE HTML>
<html>
  <head>
    <title>Jax Development Suite</title>
    <%= javascript_include_tag 'jax/application' %>

    <%= yield :head %>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>
